@include keyframes(blink) {
  0% { opacity: 0.05; }
  50% { opacity: 1; }
  100% { opacity: 0.05; }
}

:root {
   --app-height: 100%;
}

$mainColor: rgb(22, 23, 24);

.tiny {
    font-size: 0.7rem;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.grey {
    color: #dbdbdb;
}

.white {
    color: white;
}

.black {
    color: black;
}

#service-platform {
  .title {
    display: block;
    font-weight: bold;
    font-size: 2rem;
  }

  .subtitle {
    font-size: 0.9rem;
    font-style: italic;
  }

  .use-headphones {
    margin-top: 14px;
    margin-bottom: 16px;
    // font-size: 1rem;
    font-size: 0.9rem;
    // font-weight: bold;
  }

  .fa-headphones {
    font-size: 8em;
  }

  .instructions-header {
    font-size: 1rem;
    font-weight: bold;
    /*margin-top: 26px;*/
  }

  .instructions {
    padding: 0;
    /*margin-bottom: 60px;*/

    .instruction {
      font-size: 14px;
      text-transform: uppercase;
      padding: 4px 0;
      font-weight: bold;
    }
  }
}

button {
  box-sizing: border-box;
  width: calc( 100% - 2 * 0.035 * var(--app-height) );
  margin-left: calc( 0.035 * var(--app-height) );
  margin-top: calc( 0.035 * var(--app-height) );
  height: calc( 0.1 * var(--app-height) );
  
  border-radius: 10px;
  /*border: 1px solid $mainColor;*/
  border: 1px solid rgb(200, 200, 200);
  /*border: 1px solid white;*/
  font-size: 18px;
  /*font-weight: 300px;*/
  font-weight: 600;
  /*border: none;*/
  display: block;
  outline: none; 

  color: white;
  /*text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; */
}

#service-sound-check {
  .section-center, .section-bottom {
    padding: 0;
  }

  .check-yes, .check-no {
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 100;*/

    box-sizing: border-box;
    width: calc( 100% - 2 * 0.035 * var(--app-height) );
    height: calc( (40% - 2*0.035 * var(--app-height)));
    background-color: #303030;
    color: white;
    font-size: 16px;
  }

  .check-yes {
    /*background-color: #303030;*/
    color: #ffffff;
  }

  .check-no {
    /*background-color: #202020;*/
    color: #ffffff;
  }
}

%image-background {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.etitle {
    /*background-color: red;*/
    @extend %image-background;
    background-image: url('/assets/images/home.png');
}

#experience {

   .title {
    display: block;
    font-weight: bold;
    font-size: 2rem;
  }

  .subtitle {
    font-size: 0.9rem;
    font-style: italic;
  }

  .use-headphones {
    margin-top: 14px;
    margin-bottom: 16px;
    // font-size: 1rem;
    font-size: 0.9rem;
    // font-weight: bold;
  }

  .fa-headphones {
    font-size: 5em;
  }

  .section-bottom, .section-top .section-center {
    padding: 0 20px;
  }

  .section-top > div {
    font-size: 2rem;
  }

  .section-center > div, .section-bottom > div {
    font-size: 0.9rem;
  }

  .foreground {
    color: white;
  }

  #service-platform {
    color: red;
    @extend %image-background;
    background-image: url('/assets/images/home.png');
  }

  #background-image,
  #background-color {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: rgb(40, 40, 90);*/
  }

  #background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  #choice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    #restart, #continue {
      box-sizing: border-box;
      /*width: 100%;*/
      /*height: 50%;*/
      /*border: 1px solid white;*/
      height: calc( (100% - 3 * 0.035 * var(--app-height))/2);
      background-color: transparent;
      color: white;
      font-size: 16px;
    }

    #restart {
      background-color: #303030;
      color: #ffffff;
    }

    #continue {
      /*background-color: #202020;*/
      background-color: #303030;
      color: #ffffff;
    }
  }

  #main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    /*background-color: rgb(33, 31, 33);*/
  }

  #epoch {
    position: absolute;
    /* each button is 1 height */
    top: calc( 0.675 * var(--app-height) );
    height: calc( 0.325 * var(--app-height) );
    /* button main 1 height, button next 2 height */
    /*top: calc( (1 - (0.1 + 0.3 + 0.0325 * 3)) * var(--app-height) );*/
    /*height: calc( (0.1 + 0.3 + 0.0325 * 3) * var(--app-height) );*/
    left: 0;
    width: 100%;
    z-index: 100;
  }

  /* next button is bigger */
  #next {
    box-sizing: border-box;
    /* button next 2 height */
    /*height: calc( 0.3 * var(--app-height) );*/
    /* button next 1 height */
    height: calc( 0.1 * var(--app-height) );
  }

  button:disabled {
    /*background-color: lighten($mainColor, 0%);*/
    background-color: transparent;
    color: rgb(80, 80, 80);
    border: 1px solid rgb(80, 80, 80);
    background-image: none;
    text-shadow: none;
  }

  .edefault {
    /*background-color: rgb(142, 142, 147);*/
    background-color: darken($mainColor, 0%);
    /*background-color: rgb(33, 31, 33);*/
    /*background-color: rgb(98, 96, 98);*/
    /*background-color: #424042;*/
    /*color: black;*/
  }

  .ecredits {
    /*background-color: rgb(142, 142, 147);*/
    /*background-color: darken($mainColor, 0%);*/
    background-color: rgb(33, 31, 33);
    /*color: black;*/
  }
  .bcredits {
    /*background-color: rgb(142, 142, 147);*/
    /*background-color: darken($mainColor, 0%);*/
    background-color: rgb(98, 96, 98);
    /*color: black;*/
  }

  .e1960 {
    /*background-color: rgb(255, 045, 085);*/
    /*background-color: rgb(14, 25, 26);*/
    @extend %image-background;
    background-image: url('/assets/images/1960.jpg');
  }
  .b1960 {
    @extend %image-background;
    background-image: url('/assets/images/b1960.png');
  }  

  .e1970 {
    /*background-color: rgb(076, 217, 100);*/
    /*background-color: rgb(208, 96, 72);*/
    @extend %image-background;
    background-image: url('/assets/images/1970.jpg');
  }
  .b1970 {
    @extend %image-background;
    background-image: url('/assets/images/b1970.png');
  } 
  
  .e1980 {
    /*background-color: rgb(255, 059, 048);*/
    /*background-color: rgb(108, 74, 133);*/
    @extend %image-background;
    background-image: url('/assets/images/1980.jpg');
  }
  .b1980 {
    @extend %image-background;
    background-image: url('/assets/images/b1980.png');
  } 

  .e1990 {
    /*background-color: rgb(255, 204, 000);*/
    /*background-color: rgb(97, 179, 216);*/
    @extend %image-background;
    background-image: url('/assets/images/1990.jpg');
  } 
  .b1990 {
    /*background-color: rgb(255, 204, 000);*/
    /*background-color: rgb(97, 179, 216);*/
    @extend %image-background;
    background-image: url('/assets/images/b1990.png');
  } 

  .e2000 {
    /*background-color: rgb(090, 200, 250);*/
    /*background-color: rgb(206, 189, 202);*/
    @extend %image-background;
    background-image: url('/assets/images/2000.jpg');
  } 
  .b2000 {
    @extend %image-background;
    background-image: url('/assets/images/b2000.png');
  } 

  .e2010 {
    /*background-color: rgb(255, 149, 000);*/
    /*background-color: rgb(35, 81, 140);*/
    @extend %image-background;
    background-image: url('/assets/images/2010.jpg');
  } 
  .b2010 {
    @extend %image-background;
    background-image: url('/assets/images/b2010.png');
  } 
  /*#b2010{
    color: rgb(178, 53, 52);
  }*/


  .gradient {
    background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    );
  }

  .large div {
    font-size: 1.6rem;
  }

  .bold div {
    font-weight: bold;
  }

  .banner {
    background-color: rgba(10, 10, 10, 0.5);
    @include animation('blink 5.6s ease-in-out infinite');
  }

  // credits
  dl {
    padding: 0 30px;

    dt, dd {
      font-size: 0.8rem;

      &.first {
        font-size: 0.9rem;
      }
    }

    dt {
      text-align: left;
      font-weight: bold;
      margin-bottom: 4px;
    }

    dd {
      margin-bottom: 10px;
      text-align: right;
      font-style: italic;

      &.first {
        margin-bottom: 30px;
      }
    }
  }

  a {
    color: white;
    display: block;
  }

}


